<% include partials/head.html %>
<div class="row mt-first-el">
    <div class="col-md-12">
        <h1 class="text-center">Cursos</h1>
    </div>
</div>
<div class="row course-item-title">
    <div class="col-md-12">
        <h1 class="text-center">Tech kids</h1>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-center">
            <img src="img/junior.png" class="circle-img"/>
        </div>
        <div class="col-md-6 flex-column">
            <h3 class="flex-center mb-4" style="color: #0f400f;">Programación 0 + Robótica 0</h3>
            <p>Mediante herramientas adaptadas para ellos, aprenderán: Colaboración y trabajo en equipo, conceptos basicos de programación, observación y resolución de problemas mediante actividades STEM, programación de robots educativos simples. Seran los protagonistas de cuentos e historias interactivas.</p>
            <p><span class="font-weight-bold">Horario:</span>&nbsp;&nbsp;<span>Martes, de 4:15 p.m a 5:45 p.m.</span></p>
            <p><span class="font-weight-bold">Inversión mensual:</span>&nbsp;&nbsp;<span>$125.000,oo</span></p>
            <p><span class="font-weight-bold">Edad recomendada:</span>&nbsp;&nbsp;<span>de 5 a 7 años</span></p>
            <p><span class="font-weight-bold">Inscripción:</span>&nbsp;&nbsp;<span>301 285 70 99</span></p>
            <div class="container text-center mt-2">
                <a href="#" class="btn btn-outline-success btn-lg">Inscribete o solicita información</a>
            </div>
        </div>
    </div>
</div>

<div class="row course-item-title">
    <div class="col-md-12">
        <h1 class="text-center">Tech teens</h1>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-center">
            <img src="img/senior.png" class="circle-img"/>
        </div>
        <div class="col-md-6 flex-column">
            <h3 class="flex-center mb-4" style="color: #0f400f;">Programación JR + Robótica JR</h3>
            <p>Crea tus propios programas y aplicaciones. Diseña, crea, programa y controla tus propios robots, entiende de forma divertida conceptos electrónicos y mecánicos de robótica. Empieza a explorar el mundo de la ingeniería, y si quieres, sumergete en el. Desarrolla tu pensamiento creativo, colaborativo y crítico.</p>
            <p><span class="font-weight-bold">Horario:</span>&nbsp;&nbsp;<span>Sábados de 9 a.m a 12 a.m. ó de 2:30 p.m a 5:30 p.m            </span></p>
            <p><span class="font-weight-bold">Inversión mensual:</span>&nbsp;&nbsp;<span>$145.000,oo</span></p>
            <p><span class="font-weight-bold">Edad recomendada:</span>&nbsp;&nbsp;<span>de 8  a  11 años</span></p>
            <p><span class="font-weight-bold">Inscripción:</span>&nbsp;&nbsp;<span>301 285 70 99</span></p>
            <div class="container text-center mt-2">
                <a href="#" class="btn btn-outline-success btn-lg mt-2">Inscribete o solicita información</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-center">
            <img src="img/senior2.png" class="circle-img"/>
        </div>
        <div class="col-md-6 flex-column mt-5">
            <h3 class="flex-center mb-4" style="color: #0f400f;">Video juegos JR + Apps JR</h3>
            <p>Diseña y programa tus propios video juegos.</p>
            <p>Dale vida y comportamiento a tus dibujos y personajes favoritos. Crea mundos enteros de fantasias o refleja tus historias y experiencias de forma divertida.</p>
            <p><span class="font-weight-bold">Horario:</span>&nbsp;&nbsp;<span>Sábados de 9 a.m a 12 a.m. ó de 2:30 p.m a 5:30 p.m            </span></p>
            <p><span class="font-weight-bold">Inversión mensual:</span>&nbsp;&nbsp;<span>$145.000,oo</span></p>
            <p><span class="font-weight-bold">Edad recomendada:</span>&nbsp;&nbsp;<span>de 8  a  11 años</span></p>
            <p><span class="font-weight-bold">Inscripción:</span>&nbsp;&nbsp;<span>301 285 70 99</span></p>
            <div class="container text-center mt-2">
                <a href="#" class="btn btn-outline-success btn-lg mt-2">Inscribete o solicita información</a>
            </div>
        </div>
    </div>
</div>

<div class="row course-item-title">
    <div class="col-md-12">
        <h1 class="text-center">Engineer tech</h1>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-center">
            <img src="img/master.png" class="circle-img"/>
        </div>
        <div class="col-md-6 flex-column">
            <h3 class="flex-center mb-4" style="color: #0f400f;">Programación + Robótica</h3>
            <p>Profundiza y fortalece conceptos de programación y robótica. Diseña y construye robots desde cero y prográmales el comportamiento que quieras con código escrito. Inicia con el sistema simulado de gestión de placas y explora todo lo que puedes hacer con arduino para repotenciar tus robots.</p>
            <p><span class="font-weight-bold">Horario:</span>&nbsp;&nbsp;<span>Sábados de 9 a.m a 12 a.m. ó de 2:30 p.m a 5:30 p.m            </span></p>
            <p><span class="font-weight-bold">Inversión mensual:</span>&nbsp;&nbsp;<span>$145.000,oo</span></p>
            <p><span class="font-weight-bold">Edad recomendada:</span>&nbsp;&nbsp;<span>12 años en adelante</span></p>
            <p><span class="font-weight-bold">Inscripción:</span>&nbsp;&nbsp;<span>301 285 70 99</span></p>
            <div class="container text-center mt-2">
                <a href="#" class="btn btn-outline-success btn-lg mt-2">Inscribete o solicita información</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-center">
            <img src="img/master2.png" class="circle-img"/>
        </div>
        <div class="col-md-6 flex-column mt-5">
            <h3 class="flex-center mb-4" style="color: #0f400f;">Development</h3>
            <p>Aprende conceptos, diseño, animaciones y creación de paginas web.</p>
            <p>Estructura y presenta contenido web con HTML5, ponle dinamismo e interactividad a tu contenido con Javascript y jQuery y dale el mejor aspecto con efectos, animaciones y mucho más a tu página con CSS3.</p>
            <p>Aprende sobre bases de datos, aplicaciones web y móviles con Java, Kotlin y Scala.</p>
            <p><span class="font-weight-bold">Horario:</span>&nbsp;&nbsp;<span>Sábados de 9 a.m a 12 a.m. ó de 2:30 p.m a 5:30 p.m</span></p>
            <p><span class="font-weight-bold">Inversión mensual:</span>&nbsp;&nbsp;<span>$135.000,oo</span></p>
            <p><span class="font-weight-bold">Edad recomendada:</span>&nbsp;&nbsp;<span>12 años en adelante</span></p>
            <p><span class="font-weight-bold">Inscripción:</span>&nbsp;&nbsp;<span>301 285 70 99</span></p>
            <div class="container text-center mt-2">
                <a href="#" class="btn btn-outline-success btn-lg mt-2">Inscribete o solicita información</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.html %>