<% include partials/head.html %>

    <section id="banner">
        <div class="banner-container">
            <div class="banner-content">
                <h1>Robótica + Programación = Diversión</h1>
                <p>Diseña, programa y construye tus propias ideas</p>
                <p>Cursos permanentes para todas las edades</p>
                <a href="#" class="btn btn-success btn-lg mt-5 font-weight-bold animated bounceIn">
                    Únete a la diversión<br/>Inscripciones abiertas
                </a>
            </div>
        </div>
    </section>    

    <header id="header">
        <div class="main-title flex-center">
            <h2 style="color: #0f400f;">
                Construye e innova, nosotros te guiamos!
                <i class="fa fa-smile-o"></i>
            </h2>
        </div>
        
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-content-left">
                        <img src="img/junior.png" style="width: 100%;"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-content-right bg-white">
                        <h2 class="text-center text-success">Tech kids</h2>
                        <p class="mt-4">Descubre e inicia el mundo de la programación: estimula la lógica mediante actividades y juegos sencillos.</p>
                        <p>Dale vida a tus propias historias, prográmalas en lenguajes de iniciación con bloques gráficos para encajar.</p>
                        <p>Creación de robots y máquinas simples de forma lúdica para aprender o reforzar mecanismos.</p>
                        <p>Una vista al futuro: Solución de problemas reales mediantes actividades STEM...</p>
                        <div class="container text-center mt-5 mb-3">
                            <a href="#" class="btn btn-outline-success btn-lg">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-content-right bg-white">
                        <h2 class="text-center text-success">Tech teens</h2>
                        <p class="mt-4">Da los primeros pasos en el mundo de la ingeniería. Diseña, construye y programa proyectos ingenieriles.</p>
                        <p>Combina robótica y programación para proponer soluciones reales a problemas en contextos reales.</p>
                        <p>Enfrenta retos tecnológicos para explorar nuevos conceptos y desarrolla un pensamiento creativo, cooperativo y critico.</p>
                        <p>Diseña y programa tus propios videojuegos. Narra historias y experiencias de forma divertida.</p>
                        <div class="container text-center mt-4 mb-3">
                            <a href="#" class="btn btn-outline-success btn-lg">Más información</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-content-left">
                        <img src="img/senior.png" style="width: 100%;"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-content-left">
                        <img src="img/master.png" style="width: 100%;"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-content-right bg-white">
                        <h2 class="text-center text-success">Engineer tech</h2>
                        <p class="mt-4">Diseña, construye y programa robots más complejos para afrontar y superar todo tipo de retos.</p>
                        <p>Aprende a desarollar videojuegos y aplicaciones en lenguajes más estructurados y completos.</p>
                        <p>Profundiza tus conocimientos y conceptos en robótica, electrónica y programación textual.</p>
                        <p>Elabora proyectos de ingeniería mucho más ambiciosos. Define los intereses de un futuro cercano.</p>
                        <div class="container text-center mt-4 mb-3">
                            <a href="#" class="btn btn-outline-success btn-lg">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <% include partials/footer.html %>