<footer class="py-5" id="footer">
    <div class="container my-2">

        <h1 class="text-center" style="color: #0f400f;">CONTÁCTANOS</h1>

        <div class="row">
            <div class="col-md-6 flex-center">
                <div class="footer-content-left">
                    <a class="navbar-brand" href="/">
                        <img src="img/logo.png" style="width: 350px;"/>
                    </a>
                    <h4 class="mt-3"><u>Dirección</u></h4>
                    <span>Calle 50 # 28 - 25</span>
                    <span>5to piso, Coworking Labs</span>
                    <span>Bucaramanga</span>
                    
                    <h4 class="mt-3"><u>Celular/Whatsapp</u></h4>
                    <span>301 285 7099</span>

                    <h4 class="mt-3"><u>E-mail</u></h4>
                    <span>info@piensatech.com</span>
                    
                </div>
            </div>
            <div class="col-md-6 flex-center flex-column">
                <div class="alert alert-success alert-dismissible show fade in" style="display: none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fa fa-smile-o"></i> Bien hecho!</strong> Gracias por contactarnos.
                </div>
                <div class="alert alert-danger alert-dismissible show fade in" style="display: none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fa fa-meh-o"></i> Ouch! </strong><span></span>
                </div>
                <div class="footer-content-right">
                    <form >
                        <input id="name" name="name" type="text" placeholder="* Nombre">
                        <input id="email" name="email" type="text" placeholder="* E-mail">
                        <input id="phone" name="phone" type="text" placeholder="Teléfono">
                        <textarea name="comment" id="comment" cols="30" rows="3" placeholder="* Déjanos tu mensaje, te responderemos muy pronto!"></textarea>
                        <div>
                            <button type="button" id="btnSendMail" class="btn btn-outline-success btn-lg my-2">Enviar mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>