<!DOCTYPE html>
<html lang="en">
<head>
    <script id="MyLiveChatScriptTagID" src="https://s6.mylivechat.com/livechat2/livechat2.aspx?apimode=sync&amp;HCCID=96485090&amp;CCCustomerId=09d628cc-9233-19ed-fd14-677963a81803&amp;Type=VISIT&amp;Url=http%3A%2F%2Fwww.piensatech.com%2F&amp;ContextData=3%3A10%7C0%7C&amp;ScreenSize=1360,768&amp;PageTitle=PiensaTech%20-%20Rob%C3%B3tica%2C%20programaci%C3%B3n%20y%20futuro%20-%20Buc..&amp;uats=10&amp;culture=es-ES&amp;mlcv=3006&amp;template=1"></script>
    <script src="https://s6.mylivechat.com/livechat2/script/livechatinit2.js"></script>
    <script src="https://s6.mylivechat.com/livechat2/resources2.aspx?HCCID=96485090&amp;culture=es-419&amp;mlcv=3006&amp;template=1"></script>
    <link rel="stylesheet" href="https://s6.mylivechat.com/livechat2/chatinline.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="cursos arduino makers makerspace programacion robotica niños Bucaramanga STEM STEAM">
    <meta name="keywords" content="piensatech, piensa tech, arduino, curso, talleres, programacion, robot, vacacional, html5, css, robotica, niños, jovenes, mbot, stem, makers, makerspace, programacion, steam, bucaramanga, colombia">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <title>Piensatech - Robótica, programación y futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <% include navigation.html %>