<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="cursos arduino makers makerspace programacion robotica niños Bucaramanga STEM STEAM">
    <meta name="keywords" content="piensatech, piensa tech, arduino, curso, talleres, programacion, robot, vacacional, html5, css, robotica, niños, jovenes, mbot, stem, makers, makerspace, programacion, steam, bucaramanga, colombia">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <title>Piensatech - Robótica, programación y futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <% include navigation.html %>